.noitemincart {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 100px;
    display: none;
}
.noitemincart p {
    color: rgb(100,100,100);
    margin:30px 0px 0px 0px;
    font-weight: 300;
}
.noitemincart a {
    color: rgb(6, 6, 65);
    text-decoration: underline;
}
.noitem-image {
    width: 30%;
}
.noitem-image img {
    width:100%;
}
.cart {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.cart-heading {
    font-size: 1.65em;
    font-weight: 400;
    word-spacing: 1.5px;
    margin-bottom: 0px;
}
.cart-subheading {
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: .2px;
    margin-top: 0px;
}
.cart-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 35px 4% 15px 4%;
    box-sizing: border-box;
    position: relative;
}
.cart-content-1 {
    width: 63%;
    /* height: 500px; */
    content: '';
    /* background-color: green; */
    display: flex;
    flex-flow: column;
}
.cart-item {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 15px 0px;
    box-sizing: border-box;
}
.cart-item:not(:last-child) {
    border-bottom: solid 1px rgb(240,240,240);
}
.cart-image {
    width: 220px;
    overflow: hidden;
}
.cart-image img {
    width: 100%;
}
.cart-detail {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 10px 0px 10px 20px;
}
.cart-title {
    font-size: .82em;
    margin: 0px 0px 6px 0px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.cart-subtitle {
    font-size: .77em;
    margin: 0px 0px 6px 0px;
    font-weight: 400;
}
.cart-subtitle select {
    padding: 10px 12px;
    width: 70px;
    box-sizing: border-box;
    border:solid 1px rgb(220,220,220);
}
.cart-subtitle span:nth-child(2) {
    font-weight: 500;
}
.cart-id {
    min-width: 70px;
    margin-right: 20px;
    display: inline-block;
}
.cart-icon {
    width: 20px;
    padding: 7px 7px 7px 0px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cart-icon img {
    width: 100%;
}
.cart-content-2 {
    width: 32%;
    /* height: 300px; */
    padding: 30px;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    box-sizing: border-box;
    /* box-shadow: 0 10px 15px -5px rgba(0,0,0,0.4), 0 10px 10px -5px rgba(0,0,0,0.04);     */
    border:solid 1px rgb(240,240,240); 
}
.coupon {
    width: 100%;
    margin-bottom: 20px;
}
.coupon p {
    margin: 0px 0px 5px 0px;
    font-size: .84em;
}
.price {
    width:100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 10px;
}
.price p {
    margin: 0;
    color:black;
    font-size: .85em;
    font-weight: 500;
}
/* .price p:first-child {
    color:rgb(100,100,100);
    font-size: .7em;
}
.price p:nth-child(2) {
    color:rgb(20,20,20);
    font-size: .75em;
} */
.enter-coupon {
    width:100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.enter-coupon input {
    width:75%;
    padding: 15px;
    box-sizing: border-box;
    border:solid 1px rgb(210,210,210);
}
.enter-coupon button {
    width:20%;
    padding: 15px;
    box-sizing: border-box;
    background-color: transparent;
    border:solid 1px rgb(6, 6, 65);
    color:rgb(6, 6, 65);
}
.checkout {
    width: 100%;
    padding: 15px 60px;
    font-size: .76em;
    font-weight: 500;
    letter-spacing: .4px;
    color: white;
    box-sizing: border-box;
    background-color: rgb(6, 6, 65);
    border:none;
    cursor: pointer;
    transition: all ease .4s;
    margin-top: 35px;
}
.checkout:hover {
    box-shadow: 0 10px 15px -5px rgba(0,0,0,0.4), 0 10px 10px -5px rgba(0,0,0,0.04);    
}
.checkout-account-button-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    border-top: solid 1px rgb(240,240,240);
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}
.checkout-account-button-container button:first-child {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 20px;
    background-color: transparent;
    border: solid 1px rgb(230,230,230);
    cursor: pointer;
}
.checkout-account-button-container button:last-child {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 20px;
    background-color: rgb(6,6,65);
    border: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .noitem-image {
        width: 100%;
    }
    .cart-content {
        width: 100%;
        /* display: flex; */
        /* flex-flow: row-reverse wrap; */
        align-items: flex-start;
        justify-content: flex-start;
        padding: 35px 16px 15px 16px;
        box-sizing: border-box;
        position: relative;
    }
    /* .cart-content {
        width: 100%;
        display: flex;
        flex-flow: column-reverse;
        align-items: flex-start;
        justify-content: space-between;
        padding: 35px 16px 15px 16px;
    } */
    .cart-content-1 {
        width: 100%;
    }
    .cart-id {
        min-width: 70px;
        margin-right: 10px;
        display: inline-block;
    }
    .cart-title {
        font-weight: 400;
    }
    .cart-subtitle select {
        padding: 10px 12px;
        width: 60px;
        box-sizing: border-box;
        border:solid 1px rgb(220,220,220);
    }
    .cart-detail {
        padding: 0px 0px 0px 20px;
    }
    .cart-content-2 {
        width: 100%;
        margin-bottom: 50px;
        padding: 20px;
        box-shadow: none;  
        border:solid 1px rgb(240,240,240);  
    }
    .enter-coupon input {
        width:72%;
        padding: 12px;
    }
    .enter-coupon button {
        width:20%;
        padding: 12px;
        box-sizing: border-box;
        background-color: transparent;
        border:solid 1px rgb(6, 6, 65);
        color:rgb(6, 6, 65);
    }
}