.search {
    width: 100%;
    display:flex;
    flex-flow: column;
    align-items: center;
    padding: 0px 4% 0px 4%;
    box-sizing: border-box;
}
.search-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 30px;
    position: relative;
}
.filter {
    width: 24%;
    /* height: 700px; */
    /* border: solid 1px red; */
    content: '';
    display: flex;
    flex-flow: column;
    position: sticky;
    top: 0;
}
.search-container-2 {
    width: 74%;
    display: flex;
    flex-flow: column;
}
.filter-title {
    width:100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(45,45,45);
    color:white;
}
.filter-content {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    border-bottom: solid 1px rgb(230,230,230);
}
.filter-subtitle {
    width: 100%;
    cursor: pointer;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.filter-subtitle p {
    margin:0;
    font-size: .85em;
    font-weight: 500;
    color: rgb(80,80,80);
}
.filter-cross {
    width: 8px;
    height:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.filter-bar {
    width: 0;
    height: 100%;
    border-left:solid 1px rgb(80,80,80);
}
.filter-bar:last-child {
    transform: rotate(90deg);
    position: absolute;
}
.filter-list {
    width: 100%;
    /* display: flex; */
    display: none;
    flex-flow: column;
    padding: 10px 10px 15px 10px;
    box-sizing: border-box;
    font-size: .85em;
    transition: all .4s ease;
}
.filter-item {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 10px; */
    position: relative;
    padding: 8px 5px;
}
/* .checkbox {
    width: 20px;
    position: relative;
    height: 20px;
    content: '';
    background-color: rgb(200,200,200);
    margin-right: 10px;
    border-radius: 7px;
    box-shadow: 0 10px 12px -5px rgba(0,0,0,0.4), 0 10px 10px -5px rgba(0,0,0,0.04); 
} */
.filter-list input[type=checkbox] {
    /* visibility: hidden; */
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    /* padding: 15px; */
    opacity: 0;
}
.checkbox {
    /* position: absolute; */
    /* display: block; */
    display: none;
    width: 14px;
    height: 4px;
    content: '';
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    transform: rotate(-45deg);
    margin-right: 20px;
    /* position: absolute;
    left: 4px;
    top: 4px; */
}
.filter-list input[type=checkbox]:checked+.checkbox {
    display: block;
}
.filter-list input[type=checkbox]:checked {
    color:black;
}
.filter button {
    width: 95%;
    padding: 12px 15px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(45,45,45);
    font-size: .75em;
    border:none;
    margin-top: 10px;
}
.sort {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.selected-filter {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px 0px;
}
.selected-item {
    padding: 10px 19px;
    color: black;
    background-color: rgb(240, 240, 240);
    font-size: .8em;
    cursor: pointer;
    margin-right: 7px;
    margin-bottom: 7px;
}
.clear-filter {
    font-size: .85em;
    cursor: pointer;
    text-decoration: underline;
    color: black;
}
.sort-container {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;

}
.sort-container span {
    display: none;
}
.sort-container p {
    font-size: .85em;
    color:rgb(80,80,80);
    margin-right: 20px;
}
.sort-container select {
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    border:solid 1px rgb(230,230,230);
}
.search-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: 2px;
    /* margin-top: 40px; */
}
.search-card {
    width: 32%;
    margin:0px 2% 0px 0px;
    height: 400px;
    /* background-color: brown; */
    content: '';
    /* color:blue; */
    flex:none;
    text-decoration: none;
}
.search-card:nth-child(3n+3) {
    margin-right: 0px;
}
.search-card-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-card-image img {
    width:100%;
}
.search-card-name {
    font-weight: 400;
    font-size: .83em;
    letter-spacing: 0.1px;
    margin: 10px 0px 10px 0px;
    color: rgb(100,100,100);
}
.search-card-price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: .95em;
    margin: 0px 0px 10px 0px;
    letter-spacing: .3px;
}
.sale-price {
    color:firebrick;
    margin: 0px;
    margin-right: 5px;
}
.normal-price {
    color:rgb(100,100,100);
    margin: 0px;
    font-weight: 400;
    text-decoration: line-through;
}
@media screen and (max-width:800px){
    .search {
        display:flex;
        flex-flow: column;
        align-items: center;
        padding: 0px 16px 0px 16px;
        box-sizing: border-box;
    }
    .filter {
        width: 100%; 
        height: 100%;
        z-index: 999999;
        position: fixed;
        background-color: white;
        left: 0;
        top:0px;
        overflow: scroll;
        /* display: flex; */
        flex-flow: column;
        align-items: center;
        display: none;
    }
    .filter-content:last-of-type {
        margin-bottom: 10px;
    }
    .filter-title {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }
    .cancel {
        width: 17px;
        height: 17px;
        padding: 20px;
        box-sizing: border-box;
    }
    .cancel div {
        width:17px;
        display: block;
        height: 0px;
        content: '';
        border-bottom: solid 3px white;
        transform: rotate(45deg);
        
    }
    .cancel div:before {
        width:17px;
        display: block;
        height: 0px;
        content: '';
        border-bottom: solid 3px white;
        transform: rotate(90deg);
    }
    .filter button {
        position: sticky;
        bottom: 10px;
    }
    .search-container-2 {
        width: 100%;
    }
    .selected-filter {
        width: 95%;
    }
    .sort-container {
        width: 100%;
        flex-flow: row wrap;
        position: sticky;
        top: 0px;
        /* justify-content: flex-end; */
    }
    .sort-container span {
        display: block;
        width: 100%;
        cursor: pointer;
        background-color: rgb(240,240,240);
        border:solid 1px rgb(230,230,230);
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        /* text-align: center; */
    }
    .sort-container p {
        width: 100%;
        text-align: center;
    }
    .sort-container select {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgb(240,240,240);
        border:solid 1px rgb(230,230,230);
        cursor: pointer;
        text-align: center;
    }
    .search-card {
        width: 49%;
        margin-right: 2%;
        height: auto;
        margin-bottom: 15px;
    }
    .search-card:nth-child(3n+3) {
        margin-right: 2%;
    }
    .search-card:nth-child(2n+2) {
        margin-right: 0px;
    }
    .search-card-image {
        height: auto;
    }
}